@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: $white;
}

.app__main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__content {
  display: flex;
  flex: 1;
  padding: 0 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
}