.search__wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
}

.search__container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
    grid-gap: 35px;
    padding: 20px;
    margin-bottom: 20px;
}

.search__header {
    color: $dark-blue;
    align-self: flex-start;
    margin-bottom: 10px;
}