.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 0 20px;
    background-color: $white;
    z-index: 90;
}

.menu__button {
    width: 30px;
    height: 30px;
    color: $dark-blue;
    font-size: 25px;
    background-color: transparent;
    visibility: hidden;

    @include md {
        visibility: visible;
    }
}