.rating__container {
  display: flex;
  flex-direction: row;
}

.star {
  font-size: 22px;
  margin-right: 5px;
  cursor: pointer;
  transition: color 0.3s ease-out;

  @include sm {
    font-size: 19px;
  }
}

.star__empty {
  color: $light-grey;
}

.star__filled {
  color: $dark-blue;
}
