$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin sm {
  @media (max-width: #{$break-sm}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$break-md}) {
    @content;
  }
}

@mixin lg {
  @media (max-width: #{$break-lg}) {
    @content;
  }
}

@mixin xl {
  @media (max-width: #{$break-xl}) {
    @content;
  }
}